body {
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #F2E5CF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.box {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.box a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
}

#management {
    background-color: #FDD7A4;
    color: #18383C;
}

#vacations {
    background-color: #013D3E;
    color: #FDD7A4;
}

.box:hover {
    transform: translateY(-10px);
}
