body {
    font-family: Arial, sans-serif;
    background-color: #F2E5CF; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ECECEC;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(24, 56, 60, 0.15);
    overflow: hidden; 
}

.box {
    display: block;
    margin: 20px 0;
    padding: 20px 40px;
    border-radius: 50px; 
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#management {
    background-color: #013D3E;
    color: #FDD7A4;
}

#vacations {
    background-color: #18383C;
    color: #FDD7A4;
}

.box:hover {
    transform: scale(1.05);
    background-color: #FDD7A4;
    color: #013D3E;
}
